<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.application.presidentapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gerb"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gerb_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.KanopackayaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.CherechenActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.DmitrievActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.TihanovskayaActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".Activities.LukashenkoActivity"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBXc16vDqOxVbfMH7hXOH9FxWxluh1qJLk" />

        <activity
            android:name=".Activities.ErrorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.HouseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.StreetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DistrictActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RegionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.RSSPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>